header
{
    text-align: center;
}

header h1
{
    font-size: 3em;
}

.logo
{
    width: 50%;
    height: 240px;
}

.content
{
    width: 50%;
    margin: 0 auto;
}

.center
{
    text-align:center;
}