html
{
    color: rgb(51, 51, 51);
}

*
{
    box-sizing: border-box;
}

header
{
    text-align: center;
    h1
    {
        font-size: 3em;
    }
}

a
{
    color: #4183C4;
}

.toc // table of contents
{
    float: right;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 0.5em;
    margin: 0 0 1em 1em;

    ul
    {
        list-style-type: none;
        padding: 0 0.5em;
        margin: 0;
    }
    li
    {
        padding: 0.5em;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    a
    {
        text-decoration: none;
    }
}

.content
{
    position: relative;
    margin: 0 auto;
    width: 75%;
    font-family: Helvetica;
    border: 2px solid #eee;
    padding: 2em;
    border-radius: 2em;
}

.text
{
    width: 75%;
}

h1, h2, h3, h4, h5, h6
{
    border-bottom: 1px solid #eee;
}

pre
{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    font-size: 14px;
    line-height: 20px;
    padding: 0.6em 0.5em;
    code
    {
        border: none;
        background-color: transparent;
    }
}

code
{
    margin: 0;
    padding: 0.1em;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0.3em;
}

.crafting_table
{
    $border-radius: 0.5em;

    border-radius: $border-radius;
    background-color: #D2D2D2;
    padding: 1em;

    .crafting_grid
    {
        border-collapse: separate;
        border-spacing: 0.5em;
        tr:first-child>*:first-child { border-top-left-radius: $border-radius; }
        tr:first-child>*:last-child { border-top-right-radius: $border-radius; }
        tr:last-child>*:first-child { border-bottom-left-radius: $border-radius; }
        tr:last-child>*:last-child { border-bottom-right-radius: $border-radius; }
    }

    .round_corners
    {
        border-radius: $border-radius;
    }
}

.item_slot
{
    background-color: #bbb;
    $size: 16px*2;
    width: $size !important;
    height: $size !important;
    padding: 0.5em;

    &:hover
    {
        background-color: #aaa;
    }

    a, img
    {
        width: $size; height: $size;
    }
}
