<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag "style" %>
        <title><%= current_page.data.title << " @ The RR Wiki" || "Refined Relocation Wiki" %></title>
    </head>
    <body>
        <header>
            <h1>Refined Relocation Wiki</h1>
        </header>
        <div class="content">
            <section class="toc">
                <%= table_of_contents %>
            </section>
            <div class="text">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
